<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/index.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
    <link rel="shortcut icon" href="data/thumbnails1/favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>Eagle Infra India Ltd</title>
    <meta name="keywords" content="Infrastructure companies India,Road construction companies Mumbai, Civil contractor in Mumbai, Civil contractor in india,Construction companies in india." />
    <meta name="description" content="Eagle Infrastructure Construction Companies in Mumbai also provides Top Civil Contractor in Mumbai and Road Construction Companies in India" />
    <meta http-equiv="Content-Language" content="en-us">
    <META NAME="author" CONTENT="Galagali Multimedia Pvt.Ltd. - www.galagali.com">
    <META NAME="distribution" CONTENT="Global">
    <META NAME="revisit-after" CONTENT="5 days">
    <META NAME="copyright" CONTENT="Copyright by www.eagleinfraindialtd.com">
    <meta name="Robots" content="All, Index,Follow"/>
    <meta name="rating" content="general">
    <meta name="classification" content="Construction companies,infrastructure companies, top civil contractor, toll collection agencies in Mumbai ">
    <link rel="canonical" href="http://www.eagleinfraindialtd.com">

    <!-- InstanceEndEditable -->
    <link href="s.css" rel="stylesheet" type="text/css" />
    <!-- InstanceBeginEditable name="head" -->
    <script type="text/javascript">
        function MM_swapImgRestore() { //v3.0
            var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
        }
        function MM_preloadImages() { //v3.0
            var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
                var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
                    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
        }

        function MM_findObj(n, d) { //v4.01
            var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
                d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
            if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
            for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
            if(!x && d.getElementById) x=d.getElementById(n); return x;
        }
        function MM_swapImage() { //v3.0
            var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
                if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
        }
    </script>
    <!-- InstanceEndEditable -->
    <script src="Scripts/swfobject_modified.js" type="text/javascript"></script>
    <!--google analytics-->

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-46078110-1', 'eagleinfraindialtd.com');
        ga('send', 'pageview');

    </script>
    <!-- Insert to your webpage before the </head> -->
    <script src="sliderengine/jquery.js"></script>
    <script src="sliderengine/amazingslider.js"></script>
    <link rel="stylesheet" type="text/css" href="sliderengine/amazingslider-1.css">
    <script src="sliderengine/initslider-1.js"></script>
    <!-- End of head section HTML codes -->
</head>

<body onload="MM_preloadImages('images/img1-h.png','images/img2-h.png','images/img3-h.png')">
<div id="wrapper">
    <div id="header">
        <div id="logo00">
            <div id="logo"><a href="index.html"><img src="images/logo.jpg" alt="Infrastructure Companies | Eagle Infra Pvt. Ltd." width="230" height="103" border="0" /></a></div>
            <div id="logo01" class="link03">ISO <a href="images/ISO-2008.pdf" target="_blank" class="link03">9001:2008</a> / <a href="images/ISO-14001.pdf" target="_blank" class="link03">14001:2004</a> / <br />
                <a href="images/ISO-18001.pdf" target="_blank" class="link03">OHSAS 18001:2007</a> Certified Company</div>
        </div>
        <div id="head">
            <div id="head01">&nbsp;</div>
            <div id="nav"><a href="index.html" class="mainlink">HOME</a> <a href="aboutus.html" class="mainlink border01">ABOUT US</a> <a href="projects.html" class="mainlink border01">PROJECTS</a> <a href="services.html" class="mainlink border01">CLIENTS</a> <a href="gallery.html" class="mainlink border01">GALLERY</a> <a href="enquiry.html" class="mainlink border01">ENQUIRY</a> <a href="career.html" class="mainlink border01">CAREERS</a> <a href="contactus.html" class="mainlink border01">CONTACT US</a></div>
        </div>
    </div>
    <div id="banner">
        <div id="banner01">
            <!-- Insert to your webpage where you want to display the slider -->
            <div id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:950px;margin:0px auto 56px;">
                <div id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
                    <ul class="amazingslider-slides" style="display:none;">
                        <li><img src="images/Paithan%20Road%20%282%29.JPG" alt="Paithan Road (2)"  title="Paithan Road (2)" />
                        </li>
                        <li><img src="images/Chittampati%20Toll%20Plaza%20%28Tamil%20Nadu%29.JPG" alt="Chittampati Toll Plaza (Tamil Nadu)"  title="Chittampati Toll Plaza (Tamil Nadu)" />
                        </li>
                        <li><img src="images/Conference%20Hall%28Pune%29.jpg" alt="Conference Hall(Pune)"  title="Conference Hall(Pune)" />
                        </li>
                        <li><img src="images/Jam%20Warora%20Toll%20Plaza%20%28Maharashtra%29.jpg" alt="Jam Warora Toll Plaza (Maharashtra)"  title="Jam Warora Toll Plaza (Maharashtra)" />
                        </li>
                        <li><img src="images/Trichy-Madurai%20Highway.JPG" alt="Trichy-Madurai Highway"  title="Trichy-Madurai Highway" />
                        </li>
                        <li><img src="images/Indian%20Reserve%20Battalion%28Mumbai%29.jpg" alt="Indian Reserve Battalion(Mumbai)"  title="Indian Reserve Battalion(Mumbai)" />
                        </li>
                    </ul>
                    <ul class="amazingslider-thumbnails" style="display:none;">
                        <li><img src="images/Paithan%20Road%20%282%29-tn.JPG" alt="Paithan Road (2)" title="Paithan Road (2)" /></li>
                        <li><img src="images/Chittampati%20Toll%20Plaza%20%28Tamil%20Nadu%29-tn.JPG" alt="Chittampati Toll Plaza (Tamil Nadu)" title="Chittampati Toll Plaza (Tamil Nadu)" /></li>
                        <li><img src="images/Conference%20Hall%28Pune%29-tn.jpg" alt="Conference Hall(Pune)" title="Conference Hall(Pune)" /></li>
                        <li><img src="images/Jam%20Warora%20Toll%20Plaza%20%28Maharashtra%29-tn.jpg" alt="Jam Warora Toll Plaza (Maharashtra)" title="Jam Warora Toll Plaza (Maharashtra)" /></li>
                        <li><img src="images/Trichy-Madurai%20Highway-tn.JPG" alt="Trichy-Madurai Highway" title="Trichy-Madurai Highway" /></li>
                        <li><img src="images/Indian%20Reserve%20Battalion%28Mumbai%29-tn.jpg" alt="Indian Reserve Battalion(Mumbai)" title="Indian Reserve Battalion(Mumbai)" /></li>
                    </ul>
                    <div class="amazingslider-engine"><a href="http://amazingslider.com" title="Image Slider jQuery">Image Slider jQuery</a></div>
                </div>
            </div>
            <!-- End of body section HTML codes -->
        </div>
    </div>
    <div id="main">
        <div id="main01">
            <br><br>
            <img src="data/thumbnails1/strip final.jpg" style="box-shadow: 0px 0px 20px">
            <!-- InstanceBeginEditable name="EditRegion1" -->


            <div id="content03">
                <div id="cont03_01">
                    <div id="cont03_01_title"><h2>ABOUT US</h2></div>
                    <div id="cont03_01_matt"><img src="images/img04.png" width="206" height="122" alt="Construction companies" />
                        <p>M/s. Eagle Construction Co. had been formed in the year 1981 under the Leadership of Mr. Udhav M Rupchandani as a Partnership Company. Later in 2011 it was converted into the Limited Company as Eagle Infra India Ltd.<br />
                            <br />

                            The Company is a class '1-A' established contractor with various government departments and is accredited with ISO 9001-2008 and has successfully completed various projects.</p>
                        <div id="read_more"><a href="aboutus.html"><img src="images/read-more.png" alt="Construction companies" width="72" height="24" border="0" /></a></div></div>
                </div>
                <div id="cont03_02">
                    <div id="cont03_02_title"><h3>ONGOING/AWARDED PROJECTS</h3></div>
                    <div id="cont03_02_matt01">
                        <marquee onmouseover="this.stop();" onmouseout="this.start();" scrollamount="1" direction="up" width="280" height="130">
                            <ul>
                                <li><p><b>Name of Work:</b> Rehabilitation and up-gradation of NH-66 (Erstwhile NH-17) from Km.205.400 to Km.241.300 (Parshuram Ghat- Arawali section) to four lane with paved shoulder in the state of Maharashtra under NHDP- IV on Hybrid Anuuity Mode.  <br />
                                    <b>Cost of Project (In Cr):</b> 670.00<br />
                                    <b>Department:</b> Ministry of Road Transport & Highways (NHDP-IV)<br />
                                    <!--<b>Projected Date of Completion:</b>  -->
                                </p></li>
                                <li><p><b>Name of Work:</b> NAG-149 Construction of two laning with paved shoulders for package HAM: Hyrid Annuity NAG 149 Dist. Wardha in the state of Maharashtra under MRIP on Hybrid Annuity Mode. <br><b> A.</b> Kharangana Masod Kondhali Sawargaon Chincholi road km. 0.00 to 35.800 <br><b>B.</b> Rohana Wadhona Karanja Jalalkheda Mowad to state border road km.39.500<br />
                                    <b>Cost of Project (In Cr):</b> 155.92<br />
                                    <b>Department:</b> Public Works Department<br />
                                    <!--<b>Projected Date of Completion:</b>-->
                                </p></li>
                                <li><p><b>Name of Work:</b> Construction of 4-lane (Partial Access Controlled) Laddowal Bypass from Km 0.00 km to Km 17.041 Linking NH-95 with NH-1 via Laddowal seed Farm at Ludhiana in the state of of Punjab on Hybrid Annuity Mode.  <br />
                                    <b>Cost of Project (In Cr):</b> 392.00<br />
                                    <b>Department:</b> National Highways Authority of India <br />
                                    <!--<b>Projected Date of Completion:</b> -->
                                </p></li>

                                <li><p><b>Name of Work:</b>
                                    1. AM-1-A: Improvement to Roads for Pilgrimage Centres Aundha Nagnath & Mahur in Nanded and Hingoli District, (Yavatmal Dist. Border to Shembal Pimpari Pusad Gunj Mahur) (SH-257,SH-51,SH-265) Length 61.450 Km. <br>
                                    2. AM-1-B: Improvements to Roads to Join Taluka & District Places in Yavatmal District (Digras Pusad and Darwha Ner)(SH-257) Length 50.173 Km. <br>
                                    3. AM-1-C: (i) Improvement to Roads Joining District Place in Yavatmal District (Yavatmal Kolambhi Ghatanji) (SH-316,SH-267,SH-273) Length 42.848 km (ii) Improvement to Roads joining two Taluka Places in Yavatmal District (Pandharkawada Shibla Zari Jamani, SH-273) Length 34.896 Km. <br>
                                    4. AM-1-D: Improvement to Roads Joining two District Places in Yavatmal and Washim District (Yavatmal Darwha Kupta) (SH-282 & SH-290) Length 62.630 Km. <br>
                                    5. AM-1-E: (i) Upgradation of Roads joining two District Places in Washim District (Kupta Mangrulpir) (SH-282 & SH-290) Length 19.26 Km (ii) Upgradation of Roads joining Two Taluka Places in Washim District (Karanja Manora) (Sh-287) Length 35.24 Km.
                                    <br />
                                    <b>Cost of Project (In Cr):</b>1163.30 <br />
                                    <b>Department: </b>Public Works Department, Maharashtra <br />
                                    <!--<b>Projected Date of Completion:</b>-->

                                </p></li>
                                <!--<li><p><b>Name of Work:</b> <br />
                                <b>Cost of Project (In Cr):</b> <br />
                                <b>Department:</b> <br />
                                <b>Projected Date of Completion:</b> -->
                                </p></li>
                        </marquee>
                    </div>
                </div>
            </div>

            <!-- InstanceEndEditable --></div>
    </div>

</div>
<script type="text/javascript">
    swfobject.registerObject("FlashID");
</script>
</body>
<!-- InstanceEnd --></html>
