body{
    background-color: #80623c;
}

#about_us{
    background:grey;

}
p{
    font-family: AnjaliOldLipi;
}
#serv_id{
    text-align: center;
}
#serv-card1{
    padding-left: 100px;
}
#serv-card{
    padding-left: 10px;
}
#our_serv{
    text-align: center;
    color: black;
    background-color: #7f805d;
}
.our_serv{
    /*text-align: center;*/
    padding-left: 20px;

}
.o_h2{
    text-align: center;
    color: #802875;
}
.foot5{
    padding-top: 500px;
    background-color: red;
}